<nav
  class="navbar bg-dark navbar-expand-lg m-0 p-0 shadow"
  data-bs-theme="dark"
>
  <div class="container-fluid d-flex justify-content-start">
    <a class="navbar-brand mt-1" routerLink="/">
      <img
        src="https://seeklogo.com/images/B/bitcoin-logo-DDAEEA68FA-seeklogo.com.png"
        alt="Home page"
        class="mb-3"
        width="50"
        height="50"
      /><strong class="fs-1" style="color: #f8a33c"> The Coins</strong>
    </a>
    <div
      class="collapse navbar-collapse fw-medium fs-5"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active mb-1"
            aria-current="page"
            routerLink="/"
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
